<div class="px-4 py-5 my-5 text-center">
  <img class="d-block mx-auto mb-4" src="https://static-00.iconduck.com/assets.00/auth0-icon-1832x2048-ewzjrdwk.png" alt="" width="72" height="70">
  <h1 class="display-5 fw-bold text-body-emphasis">AUTH LOGIN</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">THIS IS AN APPLICATION BUILT USING AUTH0</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">

      <button (click)="login()" type="button" class="btn btn-outline-secondary btn-lg px-4" fdprocessedid="aredj">Login</button>
    </div>
  </div>
</div>